@theme "my_theme"

configuration {
    modes: "drun,run,calc,emoji,ssh,tmux:~/scripts/rofi_tmux_selector.sh";
    show-icons: true;
    terminal: "kitty";
    drun-show-actions: true;
    sidebar-mode: true;
    parse-known-hosts: false;

    calc {
        calc-command: "echo -n '{result}' | wl-copy";
    }
}
