configuration {
    modes: "window,drun,run,calc,emoji,ssh";
    show-icons: true;
    terminal: "kitty";
    drun-show-actions: true;
    sidebar-mode: true;

    calc {
        calc-command: "echo -n '{result}' | wl-copy";
    }
}
